{% load static %}

<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PoGRAMY – sklep z grami. Gry komputerowe, gry PlayStation, gry Xbox, gry Nintendo Switch{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header class="header">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="PoGRAMY" width="250">
        </a>
        <form action="{% url 'search' %}" method="get" class="search-form">
            <input type="text" name="q" placeholder=" Czego Ci potrzeba?">
            <button type="submit">Szukaj</button>
        </form>
        <nav class="menu">
            <ul class="menu-list">
                <li><a class="menu_button" href="{% url 'home' %}">Strona główna</a></li>
                <li class="drop_menu"><a class="menu_button" href="{% url 'games' %}">Katalog</a>
                    <ul class="drop_menu-list">
                        <li><a href="{% url 'games_by_platform' platform_slug='pc' %}">PC</a></li>
                        <li><a href="{% url 'games_by_platform' platform_slug='playstation' %}">PlayStation</a></li>
                        <li><a href="{% url 'games_by_platform' platform_slug='xbox' %}">Xbox</a></li>
                        <li><a href="{% url 'games_by_platform' platform_slug='nintendo-switch' %}">Switch</a></li>
                    </ul>
                </li>
                <li><a class="menu_button" href="">Kontakt</a></li>
                <li><a href="#" class="cart" id="cart_icon"><img src="{% static 'images/cart_icon.png' %}" alt="cart"><span class="cart_count" id="cart-count">0</span></a></li>
                {% if user.is_authenticated %}
                <li class="drop_menu"><a class="menu_button" class="drop_menu_head">{{ user.username }}</a>
                    <ul class="drop_menu-list">
                        <li><a href="{% url 'account' %}">Profil</a></li>
                        <li><a href="{% url 'account' %}">Zamówienia</a></li>
                        <li><a href="{% url 'logout_page' %}">Wyloguj</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a class="menu_button" href="{% url 'login' %}">Zaloguj się</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>

    <br><br><br>
    <footer class="footer">
        <p>Maciej Petryszyn | Copyright &copy; 2025</p>
    </footer>

    <script src="{% static 'js/add_remove_cart.js' %}"></script>
    <script src="{% static 'js/sorted.js' %}"></script>

</body>
</html>