{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Koszyk – PoGRAMY{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}

<div class="cart_site">

  <h2>Twój koszyk</h2>

  <div class="cart_content">
    <div class="cart_products">
      {% for item in items %}
      <div class="cart_item">
          {% if item.product.image %}
          <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
          {% else %}
          <img src="{% static 'images/placeholder.png' %}" alt="Brak okładki" width="200">
          {% endif %}
          <div class="product-info">
              <div class="top-info">
                  <div class="left-top">
                      <div class="title-platform">
                          <div class="product-name">{{ item.product.name }}</div>
                          <div class="platform">({{ item.product.platform.name }})</div>
                      </div>
                      <div class="producer">{{ item.product.producer.name }}</div>
                  </div>

                  <form action="{% url 'remove_from_cart' product_id=item.product.id %}" method="post" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" class="remove_button">Usuń</button>
                  </form>
              </div>

              <div class="product-price-qty">
                  {{ item.quantity }} x {{ item.product.price }} zł = <strong>{{ item.quantity|multiply:item.product.price }} zł</strong>
              </div>
          </div>
      </div>
      {% empty %}
      <p>Nic tutaj nie ma...</p>
      <div class="sad-container">
        <p class="sad">☹</p>
      </div>
      {% endfor %}
    </div>

    <div class="cart_total_price">
      <p>Łączna cena:<br><strong>{{ cart.total_price }} zł</strong></p>
      <a href="{% url 'place_order' %}" class="order_products">Zamów produkty</a>
    </div>
  </div>

</div>

{% endblock %}