{% extends "base.html" %}
{% load static %}

{% block title %}Panel administracyjny – PoGRAMY{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/product_list.css' %}">{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
{% endif %}

<div class="content-wrapper">
  <div class="header-container">
    <h1>Lista zamówień:</h1>
  </div>
    <br>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Usuń</th>
          <th>Data</th>
          <th>Id Zamówienia</th>
          <th>Użytkownik</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {% for order in orders %}
        <tr>
          <td><form action="{% url 'delete_order' order_id=order.id %}" method="post" style="display:inline;">{% csrf_token %}<button class="edit_delete_btn" type="submit" onclick="return confirm('Na pewno chcesz usunąć zamówienie {{ order.id }} z bazy danych?')">✘</button></form></td>
          <td>{{ order.date }}</td>
          <td>{{ order.id }}</td>
          <td>{{ order.customer.username }}</td>
          <td>
              <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="order_id" value="{{ order.id }}">
                  <select name="status" onchange="this.form.submit()">
                      {% for key, label in order.STATUS_CHOICES %}
                      <option value="{{ key }}" {% if order.status == key %}selected{% endif %}>{{ label }}</option>
                      {% endfor %}
                  </select>
              </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
