{% extends "base.html" %}
{% load static %}

{% block title %}Zaloguj się – PoGRAMY{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/remind_password.css' %}">{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
{% endif %}

<div class="remind_form">
    <h2>Zresetuj hasło:</h2>
    <div class="text-info"><p>Jeżeli nie pamiętasz swojego hasła, wpisz poniżej e-mail podany podczas rejestracji. Jeżeli do podanego adresu przypisane jest konto, otrzymasz wiadomość z linkiem do zresetowania hasła.</p></div>
    <br><br><br>
    <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }}<br>{{ form.email }}
        <input type="submit" class="remind_button" value="Zresetuj hasło">
    </form>
</div>

{% endblock %}