h2 {
    font-family: sans-serif;
    font-size: 3em;
    color: #000000;
    font-weight: normal;
    margin-top: 5px;
    padding: 12px 24px;
}

.add_product_form {
    display: flex;
    padding: 20px;
    height: auto;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.add_product_form input[type="text"], .add_product_form input[type="number"], .add_product_form textarea, .add_product_form select {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #282828;
    color: #fee922;
    width: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.add_product_form input::placeholder {
  color: #ccc;
}

.add_product_form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    pointer-events: auto;
    accent-color: #282828;
}

.add_product_form input[type="file"] {
  width: 100%;
  font-family: sans-serif;
}

.add_product_button, .add_product_form input[type="file"]::file-selector-button {
    padding: 12px 24px;
    width: 100%;
    font-size: 100%;
    border-radius: 10px;
    border: none;
    background-color: #fee922;
    color: #282828;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: auto;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.add_product_button:hover, .add_product_form input[type="file"]::file-selector-button:hover {
    background-color: #b2a317;
    color: #1c1c1c;
}

.add_product_form input[type="file"]::file-selector-button {
    display: block;
    width: 100%;
}

.add_product_form label {
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: -10px;
    color: #282828;
    pointer-events: none;
}

.add_product_form .errorlist {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px 15px;
    margin: 8px 0 12px 0;
    border-radius: 4px;
    list-style-type: none;
}

.image_preview img {
    display: none;
    max-width: 300px;
    margin: 10px auto 10px auto;
}

.image_preview2 img {
    display: block;
    max-width: 300px;
    margin: 10px auto 10px auto;
}

input[type="file"] {
  margin-bottom: 10px;
}