h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
    color: #333;
}

.order-history {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
}

.order-history h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.order-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-entry {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: #333;
    transition: transform 0.2s ease;
}

.order-entry span {
    display: inline-block;
    margin-bottom: 5px;
}

.order-entry:hover {
    transform: translateY(-2px);
    background-color: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.order-entry a {
    color: #000000;
    background-color: #fee922;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.1em;
}

.order-entry a:hover {
    text-decoration: underline;
}

.order-entry strong {
    display: block;
    margin-bottom: 6px;
}

.order-entry br {
    margin-bottom: 4px;
}



p {
    text-align: center;
    font-size: 1.2em;
    color: #777;
}
