h2 {
    font-family: sans-serif;
    font-size: 3em;
    color: #000000;
    font-weight: normal;
    margin-top: 5px;
    padding: 12px 24px;
}

.order-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 20px;
    font-family: sans-serif;
}

.card-box {
    width: 90%;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.order-detail h2,
.order-detail h3 {
    font-family: sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.order-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.order-info {
    flex: 1 1 300px;
    font-size: 1em;
    color: #333;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.order-info p {
    margin: 8px 0;
}

/* Produkty */
.order-products {
    flex: 1 1 600px;
}

.order-product-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.order-product-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    gap: 20px;
}

.order-product-item img {
    height: 120px;
    width: auto;
    object-fit: contain;
    border-radius: 6px;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 1em;
}

.order-total {
    text-align: right;
    font-size: 1.5em;
    margin-top: 20px;
}

.empty-cart-text {
    text-align: center;
    font-size: 1.2em;
    color: #777;
}

.btn-yellow {
    padding: 12px 24px;
    background-color: #fee922;
    color: #282828;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.btn-yellow:hover {
    background-color: #b2a317;
    color: #1c1c1c;
}
