h2 {
    font-family: sans-serif;
    font-size: 3em;
    color: #000000;
    font-weight: normal;
    margin-top: -0.5em;
    padding: 12px 24px;
}

.login_form {
    display: flex;
    padding: 20px;
    height: 500px;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
}

.login_form text {
    font-family: sans-serif;
}

.login_form input[type="text"], .login_form input[type="password"] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #282828;
    color: #fee922;
    width: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.login_form input::placeholder {
  color: #ccc;
}

.login_button {
    padding: 12px 24px;
    width: 100%;
    font-size: 100%;
    border-radius: 10px;
    border: none;
    background-color: #fee922;
    color: #282828;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: auto;

    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.login_button:hover {
    background-color: #b2a317;
    color: #1c1c1c;
}

.reset_password {
    text-decoration: none;
    justify-self: flex-end;
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.login_form label {
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: -10px;
    color: #282828;
}

.new_account {
    text-decoration: none;
    justify-self: flex-end;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.alert {
    display: flex;
    padding: 20px;
    height: auto;
    flex-direction: column;
    width: 50%;
    margin: 0 auto 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #282828;
}